body {
    background-color: blanchedalmond;
    color: darkgray;
}

div{
    padding: 20px;
}


.flex-parent {
    background-color: green;
    display: flex;
    flex-direction: row;
    
   
}

.flex-child {
    background-color:blue; 
    
  
}

